.git
.github
.vs
.vscode
.idea
.env
.env.*
!.env.example
**/appsettings.Development.json
**/appsettings.*.json
!**/appsettings.json
rosetta-debug.json
**/bin
**/obj
artifacts
*.nupkg
*.snupkg
*.p12
*.pfx
*.pem
*.key
